Exadel/JiraFlow.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "bc2a9bd3-e25a-3da5-b861-6bbf5b04c430",
            "instanceIdentifier" : "bf4d34a4-ae3c-1fce-ba88-ce52e3876e63",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "733c897a-4bba-31f0-b7fd-6894a6efab46",
          "instanceIdentifier" : "c3d9938e-018f-1000-0000-00006c93a6a1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success", "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "88587f97-2d5e-3ae6-bf7c-c502508a6f16",
            "instanceIdentifier" : "2cfe30cd-7ded-15f0-aacd-453335cc8f09",
            "name" : "Create File",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "1e71fa92-d334-345d-a1fa-0b5533489d34",
            "instanceIdentifier" : "7782397a-421e-14dc-9a35-07f5f94239a8",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "6d861657-04eb-31c4-b3d6-af38c3289c50",
          "instanceIdentifier" : "c3984673-018f-1000-ffff-ffff9b2187c7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "86d61ee8-0f8b-3859-b11c-49efb7ca129f",
            "instanceIdentifier" : "5df2383d-3e6e-1750-9f01-4433727dc807",
            "name" : "Init Jira data",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "86d61ee8-0f8b-3859-b11c-49efb7ca129f",
            "instanceIdentifier" : "5df2383d-3e6e-1750-9f01-4433727dc807",
            "name" : "Init Jira data",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "cf48514a-f24a-399e-a07e-33cb5c997f81",
          "instanceIdentifier" : "5df23847-3e6e-1750-0000-00006fdf366d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "c8580ef9-fd08-3bc5-92c3-2373eafebc5e",
            "instanceIdentifier" : "ad4132a6-8508-1f3a-aea2-8e4d7a77bd4f",
            "name" : "Fail-Fast validator",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "47f16fbe-185d-3862-9824-088af4b277e4",
            "instanceIdentifier" : "9b5b99b0-018f-1000-0000-00007f8cae8d",
            "name" : "find-deleted-items",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "5cacf12e-93e9-3598-9b8a-65ba2e4bc1ef",
          "instanceIdentifier" : "1d6d3a08-bf3f-1d7b-ffff-ffff91ccf5df",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "id" : "a770e891-6e46-36b3-8c6c-b14ee5f222f8",
            "instanceIdentifier" : "1d6d39fd-bf3f-1d7b-0000-000065907148",
            "name" : "output-port",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "id" : "622a7f3c-f954-3e52-a1b7-d94ec2153c65",
            "instanceIdentifier" : "973e3cb3-07b1-197a-ffff-ffffbc9cc5e1",
            "name" : "publish-event-input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "f5b96cda-9937-300f-b36b-bb4247dc7aee",
          "instanceIdentifier" : "5e148d47-0190-1000-ffff-ffffb74d2deb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "id" : "b8b705dc-40cd-3a2b-930b-6565e650809b",
            "instanceIdentifier" : "5e13f1a7-0190-1000-0000-0000090a81ea",
            "name" : "attached-file",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "88587f97-2d5e-3ae6-bf7c-c502508a6f16",
            "instanceIdentifier" : "2cfe30cd-7ded-15f0-aacd-453335cc8f09",
            "name" : "Create File",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "cfe77948-3ae3-38b2-b5b6-1b2568a0172b",
          "instanceIdentifier" : "bfd63cce-1e4a-1e04-ffff-ffffbe9d526d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "de51db1d-18ed-33a2-9449-74c19ffabad4",
            "instanceIdentifier" : "14d13c2d-d24e-1a54-bbbc-8370fa92afbb",
            "name" : "split-items",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "id" : "41aa0064-728b-361a-a77f-a51d2ed71f57",
            "instanceIdentifier" : "1d6d39cd-bf3f-1d7b-0000-000022904f54",
            "name" : "input-port",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "d979a89f-8ed1-3b6e-a391-987695b46e45",
          "instanceIdentifier" : "f9ac3bf2-340f-1dba-0000-00007b876fc7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "1e71fa92-d334-345d-a1fa-0b5533489d34",
            "instanceIdentifier" : "7782397a-421e-14dc-9a35-07f5f94239a8",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "id" : "afdf953f-fd45-3a7c-bdf1-acf042ce6b68",
            "instanceIdentifier" : "cd8c3dcf-66ca-18a7-8fae-ebf9b463fa1c",
            "name" : "attachment-input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "22fba375-c86a-3bc2-bc3d-acef0e721640",
          "instanceIdentifier" : "246b3a96-e236-170f-ffff-ffffd2f3e45a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "88587f97-2d5e-3ae6-bf7c-c502508a6f16",
            "instanceIdentifier" : "2cfe30cd-7ded-15f0-aacd-453335cc8f09",
            "name" : "Create File",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "id" : "622a7f3c-f954-3e52-a1b7-d94ec2153c65",
            "instanceIdentifier" : "973e3cb3-07b1-197a-ffff-ffffbc9cc5e1",
            "name" : "publish-event-input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "817a3547-d496-3344-a97e-379b93985dee",
          "instanceIdentifier" : "973e3cc3-07b1-197a-ffff-ffffd43c6ade",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "88587f97-2d5e-3ae6-bf7c-c502508a6f16",
            "instanceIdentifier" : "2cfe30cd-7ded-15f0-aacd-453335cc8f09",
            "name" : "Create File",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "c8580ef9-fd08-3bc5-92c3-2373eafebc5e",
            "instanceIdentifier" : "ad4132a6-8508-1f3a-aea2-8e4d7a77bd4f",
            "name" : "Fail-Fast validator",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "37b2a3e9-654b-3e77-9cfd-81f2c5c3ea65",
          "instanceIdentifier" : "c371aea9-018f-1000-0000-00000fa7e5c0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "7ddf76b6-cbb1-32b5-8e27-3797f1857709",
            "instanceIdentifier" : "c36fe656-018f-1000-ffff-ffffcf7c7b05",
            "name" : "GenerateFlowFile JIRA",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "de51db1d-18ed-33a2-9449-74c19ffabad4",
            "instanceIdentifier" : "14d13c2d-d24e-1a54-bbbc-8370fa92afbb",
            "name" : "split-items",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "dcb5c9b4-a4bd-3b3b-8d90-fed82cd6bcd0",
          "instanceIdentifier" : "a951c369-018f-1000-ffff-ffffcf5a69e1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "id" : "d4e4a163-8011-3cc0-9f21-5a58d7298d41",
            "instanceIdentifier" : "1f6b3944-c496-101f-8b94-583832042a5b",
            "name" : "output-port",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "id" : "622a7f3c-f954-3e52-a1b7-d94ec2153c65",
            "instanceIdentifier" : "973e3cb3-07b1-197a-ffff-ffffbc9cc5e1",
            "name" : "publish-event-input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "bedd5876-0fea-370d-8fee-531202aed751",
          "instanceIdentifier" : "973e3ccd-07b1-197a-ffff-ffff8a6665e2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "47f16fbe-185d-3862-9824-088af4b277e4",
            "instanceIdentifier" : "9b5b99b0-018f-1000-0000-00007f8cae8d",
            "name" : "find-deleted-items",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "id" : "714c5b80-04f0-3dcb-bd52-6745280bf31a",
            "instanceIdentifier" : "057738ba-0cd8-193d-8e95-01e96a8e2965",
            "name" : "input-port",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "979e192c-4749-39d1-afcf-8ec4af69e6f0",
          "instanceIdentifier" : "f9ac3c0c-340f-1dba-0000-0000180fdef0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "InitData", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
            "id" : "1e71fa92-d334-345d-a1fa-0b5533489d34",
            "instanceIdentifier" : "7782397a-421e-14dc-9a35-07f5f94239a8",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jms-processors-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-jms-cf-service-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "type" : "org.apache.nifi.jms.cf.JMSConnectionFactoryProviderDefinition"
          } ],
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "16612d97-edbd-304c-99ce-7157ef21d830",
          "instanceIdentifier" : "84f4d393-018f-1000-0000-00000442c6cc",
          "name" : "Jira-JMSConnectionFactoryProvider",
          "properties" : {
            "cflib" : "/opt/nifi/nifi-current/activemq-lib",
            "cf" : "org.apache.activemq.ActiveMQConnectionFactory",
            "broker" : "#{ACTIVEMQ_URI}"
          },
          "propertyDescriptors" : {
            "cflib" : {
              "displayName" : "JMS Client Libraries",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "cflib",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "JMS SSL Context Service",
              "dynamic" : false,
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "cf" : {
              "displayName" : "JMS Connection Factory Implementation Class",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "cf",
              "sensitive" : false
            },
            "broker" : {
              "displayName" : "JMS Broker URI",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "broker",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.jms.cf.JMSConnectionFactoryProvider"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
        "inputPorts" : [ ],
        "instanceIdentifier" : "718f3cc8-018f-1000-69cc-85c3e3780dd8",
        "labels" : [ ],
        "logFileSuffix" : "",
        "maxConcurrentTasks" : 1,
        "name" : "Jira-NiFi Flow",
        "outputPorts" : [ ],
        "parameterContextName" : "Jira-Environment Variables",
        "position" : {
          "x" : 0.0,
          "y" : 0.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "e868eb1e-00db-3cef-991f-43a0478cbfec",
              "instanceIdentifier" : "5e8139ac-8d52-1746-b934-270a2cf064eb",
              "name" : "Update file name ",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "32625f76-4078-3d83-9ba6-de391f37a9df",
            "instanceIdentifier" : "5e0382d8-0190-1000-ffff-ffffa10da764",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "132c46f0-a070-3afc-819c-e32a3d586e2e",
              "instanceIdentifier" : "495e3fdf-83b0-1127-b853-f88eb931ebdd",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "558e919d-c45d-3a61-ac75-9e685cfd5afd",
              "instanceIdentifier" : "42963a96-95e9-1a4e-a791-3346f4131ab3",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "391c0e34-6b9c-328f-9da8-42f9a2cd6cdb",
            "instanceIdentifier" : "8d673ede-f631-11d9-9982-421d4b0a1e14",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "afdf953f-fd45-3a7c-bdf1-acf042ce6b68",
              "instanceIdentifier" : "cd8c3dcf-66ca-18a7-8fae-ebf9b463fa1c",
              "name" : "attachment-input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "132c46f0-a070-3afc-819c-e32a3d586e2e",
              "instanceIdentifier" : "495e3fdf-83b0-1127-b853-f88eb931ebdd",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "dd02d708-03af-3e0a-9672-ca6c8ea7b059",
            "instanceIdentifier" : "246b3a8e-e236-170f-a6ef-5b966bbe6843",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "9825092b-91f9-314f-a5a6-06a6a2b42e04",
              "instanceIdentifier" : "1d8d34e7-5a0c-1d5a-9609-4e2003f87b13",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "9825092b-91f9-314f-a5a6-06a6a2b42e04",
              "instanceIdentifier" : "1d8d34e7-5a0c-1d5a-9609-4e2003f87b13",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "b8df6e60-033f-39bb-abed-b282eb01de55",
            "instanceIdentifier" : "d5c635c9-ac7b-14d9-b427-fa5a687146bf",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "558e919d-c45d-3a61-ac75-9e685cfd5afd",
              "instanceIdentifier" : "42963a96-95e9-1a4e-a791-3346f4131ab3",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "c0254546-426a-3967-ad85-2027d177bfc8",
              "instanceIdentifier" : "15553243-3534-1fa9-bf43-5c517f524402",
              "name" : "Download attached file",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "4495c75e-e235-33de-b74c-aef3539cc3bf",
            "instanceIdentifier" : "1b303558-45b6-15bc-a6ff-28e37074c699",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "69e971d7-36b7-3168-8926-c9ae38fc160e",
              "instanceIdentifier" : "b8773eaa-e5be-1c9b-b752-dd281f92bcbe",
              "name" : "Update file name ",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "69e971d7-36b7-3168-8926-c9ae38fc160e",
              "instanceIdentifier" : "b8773eaa-e5be-1c9b-b752-dd281f92bcbe",
              "name" : "Update file name ",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "5261b6ea-1ba7-3930-9106-10dc0371fa08",
            "instanceIdentifier" : "5e03a334-0190-1000-0000-000062785e0d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "e868eb1e-00db-3cef-991f-43a0478cbfec",
              "instanceIdentifier" : "5e8139ac-8d52-1746-b934-270a2cf064eb",
              "name" : "Update file name ",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "b8b705dc-40cd-3a2b-930b-6565e650809b",
              "instanceIdentifier" : "5e13f1a7-0190-1000-0000-0000090a81ea",
              "name" : "attached-file",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "7074b89d-60c4-3975-8a4a-d872f03eb2e9",
            "instanceIdentifier" : "5e144d90-0190-1000-ffff-ffffd6fc0adc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer" ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "c0254546-426a-3967-ad85-2027d177bfc8",
              "instanceIdentifier" : "15553243-3534-1fa9-bf43-5c517f524402",
              "name" : "Download attached file",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "664dbf9d-f5e9-3473-826d-b58ce9e22fbf",
              "instanceIdentifier" : "5bb4390e-b1e1-14c5-ab11-72142cc32654",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "7a73e665-5008-388b-93c7-22472d496915",
            "instanceIdentifier" : "959f311d-5cf2-1536-9df6-ab1ba02cf506",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
              "id" : "c0254546-426a-3967-ad85-2027d177bfc8",
              "instanceIdentifier" : "15553243-3534-1fa9-bf43-5c517f524402",
              "name" : "Download attached file",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "executionEngine" : "INHERITED",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "afdf953f-fd45-3a7c-bdf1-acf042ce6b68",
            "instanceIdentifier" : "cd8c3dcf-66ca-18a7-8fae-ebf9b463fa1c",
            "name" : "attachment-input",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : 32.0,
              "y" : -264.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "0a2238d7-7574-108d-b6b8-5c721563f93b",
          "labels" : [ ],
          "maxConcurrentTasks" : 1,
          "name" : "Download attachments",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "b8b705dc-40cd-3a2b-930b-6565e650809b",
            "instanceIdentifier" : "5e13f1a7-0190-1000-0000-0000090a81ea",
            "name" : "attached-file",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : 16.0,
              "y" : 152.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "Jira-Environment Variables",
          "position" : {
            "x" : 88.0,
            "y" : -328.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "132c46f0-a070-3afc-819c-e32a3d586e2e",
            "instanceIdentifier" : "495e3fdf-83b0-1127-b853-f88eb931ebdd",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Get issues by pagination",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 520.0,
              "y" : -72.0
            },
            "properties" : {
              "Request Content-Encoding" : "DISABLED",
              "Request Multipart Form-Data Filename Enabled" : "true",
              "Request Chunked Transfer-Encoding Enabled" : "false",
              "HTTP/2 Disabled" : "False",
              "Connection Timeout" : "5 secs",
              "Response Cookie Strategy" : "DISABLED",
              "Request Password" : "#{JIRA_TOKEN}",
              "Socket Read Timeout" : "15 secs",
              "Socket Idle Connections" : "5",
              "Request Body Enabled" : "true",
              "HTTP URL" : "${file_url}",
              "Socket Idle Timeout" : "5 mins",
              "Response Redirects Enabled" : "True",
              "Socket Write Timeout" : "15 secs",
              "Response FlowFile Naming Strategy" : "RANDOM",
              "Response Cache Enabled" : "false",
              "Request Date Header Enabled" : "True",
              "Request Failure Penalization Enabled" : "false",
              "Response Body Attribute Size" : "256",
              "Response Generation Required" : "false",
              "Response Header Request Attributes Enabled" : "false",
              "HTTP Method" : "GET",
              "Request Username" : "#{JIRA_USER}",
              "Request Content-Type" : "${mime.type}",
              "Request Digest Authentication Enabled" : "false",
              "Response Cache Size" : "10MB",
              "Response Body Ignored" : "false"
            },
            "propertyDescriptors" : {
              "Request Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Content-Encoding",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Request Multipart Form-Data Filename Enabled" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Multipart Form-Data Filename Enabled",
                "sensitive" : false
              },
              "Request Chunked Transfer-Encoding Enabled" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Chunked Transfer-Encoding Enabled",
                "sensitive" : false
              },
              "HTTP/2 Disabled" : {
                "displayName" : "HTTP/2 Disabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP/2 Disabled",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "Response Cookie Strategy" : {
                "displayName" : "Response Cookie Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cookie Strategy",
                "sensitive" : false
              },
              "Request Password" : {
                "displayName" : "Request Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Password",
                "sensitive" : true
              },
              "Socket Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Read Timeout",
                "sensitive" : false
              },
              "Socket Idle Connections" : {
                "displayName" : "Socket Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Idle Connections",
                "sensitive" : false
              },
              "Request Body Enabled" : {
                "displayName" : "Request Body Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Body Enabled",
                "sensitive" : false
              },
              "HTTP URL" : {
                "displayName" : "HTTP URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP URL",
                "sensitive" : false
              },
              "Request OAuth2 Access Token Provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "Request OAuth2 Access Token Provider",
                "sensitive" : false
              },
              "Socket Idle Timeout" : {
                "displayName" : "Socket Idle Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Idle Timeout",
                "sensitive" : false
              },
              "Response Redirects Enabled" : {
                "displayName" : "Response Redirects Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Redirects Enabled",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Request Header Attributes Pattern" : {
                "displayName" : "Request Header Attributes Pattern",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Header Attributes Pattern",
                "sensitive" : false
              },
              "Response FlowFile Naming Strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response FlowFile Naming Strategy",
                "sensitive" : false
              },
              "Response Cache Enabled" : {
                "displayName" : "Response Cache Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cache Enabled",
                "sensitive" : false
              },
              "Request Date Header Enabled" : {
                "displayName" : "Request Date Header Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Date Header Enabled",
                "sensitive" : false
              },
              "Request Failure Penalization Enabled" : {
                "displayName" : "Request Failure Penalization Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Failure Penalization Enabled",
                "sensitive" : false
              },
              "Response Body Attribute Size" : {
                "displayName" : "Response Body Attribute Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Attribute Size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Response Generation Required" : {
                "displayName" : "Response Generation Required",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Generation Required",
                "sensitive" : false
              },
              "Request User-Agent" : {
                "displayName" : "Request User-Agent",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request User-Agent",
                "sensitive" : false
              },
              "Response Header Request Attributes Enabled" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Header Request Attributes Enabled",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Request Username" : {
                "displayName" : "Request Username",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Username",
                "sensitive" : false
              },
              "Request Content-Type" : {
                "displayName" : "Request Content-Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Content-Type",
                "sensitive" : false
              },
              "Response Body Attribute Name" : {
                "displayName" : "Response Body Attribute Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Attribute Name",
                "sensitive" : false
              },
              "Request Digest Authentication Enabled" : {
                "displayName" : "Request Digest Authentication Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Digest Authentication Enabled",
                "sensitive" : false
              },
              "Request Multipart Form-Data Name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Multipart Form-Data Name",
                "sensitive" : false
              },
              "Response Cache Size" : {
                "displayName" : "Response Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cache Size",
                "sensitive" : false
              },
              "Response Body Ignored" : {
                "displayName" : "Response Body Ignored",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Ignored",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "2 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "c0254546-426a-3967-ad85-2027d177bfc8",
            "instanceIdentifier" : "15553243-3534-1fa9-bf43-5c517f524402",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Download attached file",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 520.0,
              "y" : 128.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "${RESOURCE_STORAGE_FOLDER}",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "9825092b-91f9-314f-a5a6-06a6a2b42e04",
            "instanceIdentifier" : "1d8d34e7-5a0c-1d5a-9609-4e2003f87b13",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1160.0,
              "y" : -288.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "file_url" : "$.content",
              "filename" : "$.filename",
              "Max String Length" : "20 MB",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "file_url" : {
                "displayName" : "file_url",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "file_url",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "558e919d-c45d-3a61-ac75-9e685cfd5afd",
            "instanceIdentifier" : "42963a96-95e9-1a4e-a791-3346f4131ab3",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 535.9999568137889,
              "y" : -293.00008043759817
            },
            "properties" : {
              "Max String Length" : "20 MB",
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.fields.attachment[*]"
            },
            "propertyDescriptors" : {
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "annotationData" : "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>9ebd5952-6418-4d22-9a6c-7506de93b648</id>\n            <value>${startAt:plus(${maxResults})}</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):gt(${startAt})}</expression>\n            <id>40d22898-c2a6-4fed-97a1-ca22adaea154</id>\n        </conditions>\n        <id>422c5e3f-ca50-425d-8759-08f0fb2e0c1c</id>\n        <name>get-next-page</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>510500d2-4da1-4407-8815-84d44947fe4d</id>\n            <value>-1</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):lt(${startAt})}</expression>\n            <id>034ec39c-16ed-40b3-b209-8d5b3a1becd4</id>\n        </conditions>\n        <id>47a66be2-d1d8-4b10-8702-617fba0c2f65</id>\n        <name>end-page</name>\n    </rules>\n</criteria>",
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "69e971d7-36b7-3168-8926-c9ae38fc160e",
            "instanceIdentifier" : "b8773eaa-e5be-1c9b-b752-dd281f92bcbe",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Update file name ",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1160.0,
              "y" : 112.0
            },
            "properties" : {
              "filename" : "${project_id}_${source_type}_${resource_id}_${event_id}_${filename}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "internal_resource_path" : "#{RESOURCE_STORAGE_FOLDER}/${project_id}_${source_type}_${resource_id}_${event_id}_${filename}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "internal_resource_path" : {
                "displayName" : "internal_resource_path",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "internal_resource_path",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "annotationData" : "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>9ebd5952-6418-4d22-9a6c-7506de93b648</id>\n            <value>${startAt:plus(${maxResults})}</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):gt(${startAt})}</expression>\n            <id>40d22898-c2a6-4fed-97a1-ca22adaea154</id>\n        </conditions>\n        <id>422c5e3f-ca50-425d-8759-08f0fb2e0c1c</id>\n        <name>get-next-page</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>510500d2-4da1-4407-8815-84d44947fe4d</id>\n            <value>-1</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):lt(${startAt})}</expression>\n            <id>034ec39c-16ed-40b3-b209-8d5b3a1becd4</id>\n        </conditions>\n        <id>47a66be2-d1d8-4b10-8702-617fba0c2f65</id>\n        <name>end-page</name>\n    </rules>\n</criteria>",
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "e868eb1e-00db-3cef-991f-43a0478cbfec",
            "instanceIdentifier" : "5e8139ac-8d52-1746-b934-270a2cf064eb",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Update file name ",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1160.0,
              "y" : -88.0
            },
            "properties" : {
              "event_id" : "${UUID()}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "original_resource_path" : "${file_url}",
              "resource_id" : "${UUID()}",
              "event_timestamp" : "${now():format('yyyy-MM-dd HH:mm:ss')}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "event_id" : {
                "displayName" : "event_id",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "event_id",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "original_resource_path" : {
                "displayName" : "original_resource_path",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "original_resource_path",
                "sensitive" : false
              },
              "resource_id" : {
                "displayName" : "resource_id",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "resource_id",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "event_timestamp" : {
                "displayName" : "event_timestamp",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "event_timestamp",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "ERROR",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a8a63401-24f4-3b59-bba2-ee824f561ea6",
            "identifier" : "664dbf9d-f5e9-3473-826d-b58ce9e22fbf",
            "instanceIdentifier" : "5bb4390e-b1e1-14c5-ab11-72142cc32654",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 520.0,
              "y" : 328.0
            },
            "properties" : {
              "log-message" : "Attached file: failed",
              "log-level" : "error"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "scheduledState" : "ENABLED",
          "statelessFlowTimeout" : "1 min"
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "e539f818-5f1f-3133-8e0c-5040057e5189",
              "instanceIdentifier" : "b88b3d2b-b7c7-1fe3-94d2-8278bbfeec33",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "eb582ac8-611d-3aca-a0a0-a964a4aea5cd",
            "instanceIdentifier" : "973e3c8f-07b1-197a-0000-00006a056c91",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "807c8831-3e77-3769-bb17-1ce3f144b378",
              "instanceIdentifier" : "6adc3f65-372e-19fb-bb22-15d318b4cef2",
              "name" : "Publish issues event",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "b0eed471-1e24-3a4f-8d88-96aa4a450dec",
              "instanceIdentifier" : "973e3c87-07b1-197a-be87-39aefa29cb9e",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "90968876-93e0-3231-b140-1044075c1abf",
            "instanceIdentifier" : "973e3cb6-07b1-197a-ffff-ffff829ac97e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "622a7f3c-f954-3e52-a1b7-d94ec2153c65",
              "instanceIdentifier" : "973e3cb3-07b1-197a-ffff-ffffbc9cc5e1",
              "name" : "publish-event-input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "807c8831-3e77-3769-bb17-1ce3f144b378",
              "instanceIdentifier" : "6adc3f65-372e-19fb-bb22-15d318b4cef2",
              "name" : "Publish issues event",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "43b86fb8-3df7-30e9-84f2-bbebc22a3a52",
            "instanceIdentifier" : "973e3c89-07b1-197a-ffff-ffffa8f10223",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "b0eed471-1e24-3a4f-8d88-96aa4a450dec",
              "instanceIdentifier" : "973e3c87-07b1-197a-be87-39aefa29cb9e",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "0579df79-8f4b-3908-a816-bae5ae9c640d",
              "instanceIdentifier" : "4e3133c8-df2c-19cc-9c42-c825e2229306",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "4e277726-5ee9-33f9-a7b7-8e3ade1b7f60",
            "instanceIdentifier" : "973e3ca9-07b1-197a-ffff-fffffda6a5c0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "807c8831-3e77-3769-bb17-1ce3f144b378",
              "instanceIdentifier" : "6adc3f65-372e-19fb-bb22-15d318b4cef2",
              "name" : "Publish issues event",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "c8231537-e2b1-38d2-b580-5ad0249af4bb",
              "instanceIdentifier" : "ca69377d-ab68-1e00-bebe-4b058e6e2847",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "569888b0-cce2-397c-acd4-dcd0ae8348dc",
            "instanceIdentifier" : "973e3ca0-07b1-197a-ffff-ffffa3836f43",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2b812593-f694-3871-8ab7-cd81714a653c",
              "id" : "b0eed471-1e24-3a4f-8d88-96aa4a450dec",
              "instanceIdentifier" : "973e3c87-07b1-197a-be87-39aefa29cb9e",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "executionEngine" : "INHERITED",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "622a7f3c-f954-3e52-a1b7-d94ec2153c65",
            "instanceIdentifier" : "973e3cb3-07b1-197a-ffff-ffffbc9cc5e1",
            "name" : "publish-event-input",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : -304.0,
              "y" : -80.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "b8d40259-018f-1000-0000-0000485112ca",
          "labels" : [ ],
          "maxConcurrentTasks" : 1,
          "name" : "Publish Event",
          "outputPorts" : [ ],
          "parameterContextName" : "Jira-Environment Variables",
          "position" : {
            "x" : 424.0,
            "y" : -656.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "ERROR",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "c8231537-e2b1-38d2-b580-5ad0249af4bb",
            "instanceIdentifier" : "ca69377d-ab68-1e00-bebe-4b058e6e2847",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 792.0,
              "y" : -120.0
            },
            "properties" : {
              "log-message" : "AttributesToJSON failed",
              "log-level" : "error"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-jms-processors-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "807c8831-3e77-3769-bb17-1ce3f144b378",
            "instanceIdentifier" : "6adc3f65-372e-19fb-bb22-15d318b4cef2",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Publish issues event",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 200.0,
              "y" : 128.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "allow-illegal-chars-in-jms-header-names" : "false",
              "User Name" : "#{ACTIVEMQ_USERNAME}",
              "Destination Name" : "#{ACTIVEMQ_QUEUE_NAME}",
              "Connection Factory Service" : "16612d97-edbd-304c-99ce-7157ef21d830",
              "attributes-to-send-as-jms-headers-regex" : "",
              "Destination Type" : "QUEUE",
              "message-body-type" : "text",
              "Password" : "#{ACTIVEMQ_PASSWORD}"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "cflib" : {
                "displayName" : "JMS Client Libraries",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "cflib",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
                },
                "sensitive" : false
              },
              "allow-illegal-chars-in-jms-header-names" : {
                "displayName" : "Allow Illegal Characters in Header Names",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "allow-illegal-chars-in-jms-header-names",
                "sensitive" : false
              },
              "cf" : {
                "displayName" : "JMS Connection Factory Implementation Class",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "cf",
                "sensitive" : false
              },
              "User Name" : {
                "displayName" : "User Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "User Name",
                "sensitive" : false
              },
              "record-writer" : {
                "displayName" : "Record Writer",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "record-writer",
                "sensitive" : false
              },
              "java.naming.factory.initial" : {
                "displayName" : "JNDI Initial Context Factory Class",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "java.naming.factory.initial",
                "sensitive" : false
              },
              "Destination Name" : {
                "displayName" : "Destination Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination Name",
                "sensitive" : false
              },
              "java.naming.provider.url" : {
                "displayName" : "JNDI Provider URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "java.naming.provider.url",
                "sensitive" : false
              },
              "naming.factory.libraries" : {
                "displayName" : "JNDI / JMS Client Libraries",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "naming.factory.libraries",
                "resourceDefinition" : {
                  "cardinality" : "MULTIPLE",
                  "resourceTypes" : [ "URL", "FILE", "DIRECTORY" ]
                },
                "sensitive" : false
              },
              "broker" : {
                "displayName" : "JMS Broker URI",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "broker",
                "sensitive" : false
              },
              "Connection Factory Service" : {
                "displayName" : "Connection Factory Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "Connection Factory Service",
                "sensitive" : false
              },
              "connection.factory.name" : {
                "displayName" : "JNDI Name of the Connection Factory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "connection.factory.name",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "JMS SSL Context Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "attributes-to-send-as-jms-headers-regex" : {
                "displayName" : "Attributes to Send as JMS Headers (Regex)",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "attributes-to-send-as-jms-headers-regex",
                "sensitive" : false
              },
              "Connection Client ID" : {
                "displayName" : "Connection Client ID",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Connection Client ID",
                "sensitive" : false
              },
              "java.naming.security.principal" : {
                "displayName" : "JNDI Principal",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "java.naming.security.principal",
                "sensitive" : false
              },
              "record-reader" : {
                "displayName" : "Record Reader",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "record-reader",
                "sensitive" : false
              },
              "Destination Type" : {
                "displayName" : "Destination Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination Type",
                "sensitive" : false
              },
              "message-body-type" : {
                "displayName" : "Message Body Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "message-body-type",
                "sensitive" : false
              },
              "java.naming.security.credentials" : {
                "displayName" : "JNDI Credentials",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "java.naming.security.credentials",
                "sensitive" : true
              },
              "Password" : {
                "displayName" : "Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.jms.processors.PublishJMS",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "b0eed471-1e24-3a4f-8d88-96aa4a450dec",
            "instanceIdentifier" : "973e3c87-07b1-197a-be87-39aefa29cb9e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 200.0,
              "y" : -120.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "true",
              "Attributes List" : "project_id, source_type, resource_id, event_id, event_type, event_timestamp, internal_resource_path, original_resource_path",
              "Pretty Print" : "true",
              "Include Core Attributes" : "false",
              "JSON Handling Strategy" : "ESCAPED"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Pretty Print" : {
                "displayName" : "Pretty Print",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Pretty Print",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              },
              "JSON Handling Strategy" : {
                "displayName" : "JSON Handling Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "JSON Handling Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "ERROR",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "0579df79-8f4b-3908-a816-bae5ae9c640d",
            "instanceIdentifier" : "4e3133c8-df2c-19cc-9c42-c825e2229306",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 800.0,
              "y" : 40.0
            },
            "properties" : {
              "log-message" : "${event_type}-event failed",
              "log-level" : "error"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2b812593-f694-3871-8ab7-cd81714a653c",
            "identifier" : "e539f818-5f1f-3133-8e0c-5040057e5189",
            "instanceIdentifier" : "b88b3d2b-b7c7-1fe3-94d2-8278bbfeec33",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 800.0,
              "y" : 208.0
            },
            "properties" : {
              "log-message" : "${event_type}-event sent",
              "log-level" : "info",
              "log-prefix" : "JMS:"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "scheduledState" : "ENABLED",
          "statelessFlowTimeout" : "1 min"
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "40a60231-e770-3c58-af6d-7db2febf2fe6",
              "instanceIdentifier" : "508e32c3-afe1-1236-b92d-09d8961024b6",
              "name" : "Update startAt attr",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "ea52f0f1-4128-32bf-b43a-ca2165fe5f8f",
            "instanceIdentifier" : "211a3971-0af5-1f25-8130-72f640c627e7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "277508a4-a8d2-3f37-b2cd-8e9ed9c7a862",
              "instanceIdentifier" : "768f33ee-3c16-1c3b-9dc8-b89cc93b9956",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "d35ecebd-e357-3e6b-82aa-28285032b59c",
              "instanceIdentifier" : "4d9a339c-c6a7-1d3f-a990-580cc5211c14",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "abdb9476-780e-34a4-85eb-33f6076b71cb",
            "instanceIdentifier" : "73ea35e6-7b42-1e4f-9678-b0f40e1667a8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "40a60231-e770-3c58-af6d-7db2febf2fe6",
              "instanceIdentifier" : "508e32c3-afe1-1236-b92d-09d8961024b6",
              "name" : "Update startAt attr",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "d4e4a163-8011-3cc0-9f21-5a58d7298d41",
              "instanceIdentifier" : "1f6b3944-c496-101f-8b94-583832042a5b",
              "name" : "output-port",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "c6e1cf9a-42d1-30b5-b943-ae0d5284937c",
            "instanceIdentifier" : "675b3c8c-f243-19c8-961d-e0361a024a57",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "hasNextPage", "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "d35ecebd-e357-3e6b-82aa-28285032b59c",
              "instanceIdentifier" : "4d9a339c-c6a7-1d3f-a990-580cc5211c14",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "9c5154c1-39d6-340f-ab03-a3a9210ae426",
              "instanceIdentifier" : "b8cff1e9-018f-1000-ffff-ffff92894c72",
              "name" : "LogMessage",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "50409cfd-3cea-3ae1-96c1-05f0de9255d2",
            "instanceIdentifier" : "b8d02ab9-018f-1000-0000-000000f7f2c6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "201b977d-e1ab-341c-8e9a-8b77ba649d66",
              "instanceIdentifier" : "52f33933-f372-1faa-8851-dc44530b9161",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "277508a4-a8d2-3f37-b2cd-8e9ed9c7a862",
              "instanceIdentifier" : "768f33ee-3c16-1c3b-9dc8-b89cc93b9956",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "15bf49a3-76c8-3994-8b23-c09ddaae1ebb",
            "instanceIdentifier" : "81703b4c-fb82-1087-922e-3f827cfa29ba",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "201b977d-e1ab-341c-8e9a-8b77ba649d66",
              "instanceIdentifier" : "52f33933-f372-1faa-8851-dc44530b9161",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "201b977d-e1ab-341c-8e9a-8b77ba649d66",
              "instanceIdentifier" : "52f33933-f372-1faa-8851-dc44530b9161",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "7af9c67f-673d-3a94-a440-553f38f09423",
            "instanceIdentifier" : "6dfa3cac-26d6-1b25-88fa-cce395d068a2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "hasNextPage" ],
            "source" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "d35ecebd-e357-3e6b-82aa-28285032b59c",
              "instanceIdentifier" : "4d9a339c-c6a7-1d3f-a990-580cc5211c14",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "201b977d-e1ab-341c-8e9a-8b77ba649d66",
              "instanceIdentifier" : "52f33933-f372-1faa-8851-dc44530b9161",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "9c512b05-33ad-30a6-b152-7ef160142346",
            "instanceIdentifier" : "64043e94-de25-1d44-b348-2ae3d6217bf2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
              "id" : "714c5b80-04f0-3dcb-bd52-6745280bf31a",
              "instanceIdentifier" : "057738ba-0cd8-193d-8e95-01e96a8e2965",
              "name" : "input-port",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "executionEngine" : "INHERITED",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "714c5b80-04f0-3dcb-bd52-6745280bf31a",
            "instanceIdentifier" : "057738ba-0cd8-193d-8e95-01e96a8e2965",
            "name" : "input-port",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : -224.0,
              "y" : -32.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "ab0332e1-970c-168e-ab7a-5ae8eb3517d8",
          "labels" : [ ],
          "logFileSuffix" : "",
          "maxConcurrentTasks" : 1,
          "name" : "Init all issue",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "d4e4a163-8011-3cc0-9f21-5a58d7298d41",
            "instanceIdentifier" : "1f6b3944-c496-101f-8b94-583832042a5b",
            "name" : "output-port",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : -224.0,
              "y" : 232.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "Jira-Environment Variables",
          "position" : {
            "x" : -200.0,
            "y" : -1136.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "9c5154c1-39d6-340f-ab03-a3a9210ae426",
            "instanceIdentifier" : "b8cff1e9-018f-1000-ffff-ffff92894c72",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogMessage",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1088.0,
              "y" : -72.0
            },
            "properties" : {
              "log-level" : "info"
            },
            "propertyDescriptors" : {
              "log-message" : {
                "displayName" : "Log message",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-message",
                "sensitive" : false
              },
              "log-level" : {
                "displayName" : "Log Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-level",
                "sensitive" : false
              },
              "log-prefix" : {
                "displayName" : "Log prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "log-prefix",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogMessage",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "277508a4-a8d2-3f37-b2cd-8e9ed9c7a862",
            "instanceIdentifier" : "768f33ee-3c16-1c3b-9dc8-b89cc93b9956",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 712.0,
              "y" : 184.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "total" : "$.total",
              "Max String Length" : "20 MB",
              "maxResults" : "$.maxResults",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "startAt" : "$.startAt",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "total" : {
                "displayName" : "total",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "total",
                "sensitive" : false
              },
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "maxResults" : {
                "displayName" : "maxResults",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "maxResults",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "startAt" : {
                "displayName" : "startAt",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "startAt",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "annotationData" : "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>9ebd5952-6418-4d22-9a6c-7506de93b648</id>\n            <value>${startAt:plus(${maxResults})}</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):gt(${startAt})}</expression>\n            <id>40d22898-c2a6-4fed-97a1-ca22adaea154</id>\n        </conditions>\n        <id>422c5e3f-ca50-425d-8759-08f0fb2e0c1c</id>\n        <name>get-next-page</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>510500d2-4da1-4407-8815-84d44947fe4d</id>\n            <value>-1</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):lt(${startAt})}</expression>\n            <id>034ec39c-16ed-40b3-b209-8d5b3a1becd4</id>\n        </conditions>\n        <id>47a66be2-d1d8-4b10-8702-617fba0c2f65</id>\n        <name>end-page</name>\n    </rules>\n</criteria>",
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "40a60231-e770-3c58-af6d-7db2febf2fe6",
            "instanceIdentifier" : "508e32c3-afe1-1236-b92d-09d8961024b6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Update startAt attr",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 490.00000312351955,
              "y" : 406.99999420568884
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "startAt" : "-1"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "startAt" : {
                "displayName" : "startAt",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "startAt",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "d35ecebd-e357-3e6b-82aa-28285032b59c",
            "instanceIdentifier" : "4d9a339c-c6a7-1d3f-a990-580cc5211c14",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 258.00000312351955,
              "y" : 182.99999420568884
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "hasNextPage" : "${startAt:gt(0)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "hasNextPage" : {
                "displayName" : "hasNextPage",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "hasNextPage",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "a0e1e8f0-ebe4-33d0-9200-9f1e43f7d9b9",
            "identifier" : "201b977d-e1ab-341c-8e9a-8b77ba649d66",
            "instanceIdentifier" : "52f33933-f372-1faa-8851-dc44530b9161",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Get issues by pagination",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 458.00000312351955,
              "y" : -73.00000579431116
            },
            "properties" : {
              "Request Content-Encoding" : "DISABLED",
              "Request Multipart Form-Data Filename Enabled" : "true",
              "Request Chunked Transfer-Encoding Enabled" : "false",
              "HTTP/2 Disabled" : "False",
              "Connection Timeout" : "5 secs",
              "Response Cookie Strategy" : "DISABLED",
              "Request Password" : "#{JIRA_TOKEN}",
              "Socket Read Timeout" : "15 secs",
              "Socket Idle Connections" : "5",
              "Request Body Enabled" : "true",
              "HTTP URL" : "#{JIRA_URL}/rest/api/3/search?maxResults=50&startAt=${startAt}&jql=project=#{JIRA_PROJECT_ID}&fields=created,updated,attachment,comment,status,summary,description",
              "Socket Idle Timeout" : "5 mins",
              "Response Redirects Enabled" : "True",
              "Socket Write Timeout" : "15 secs",
              "Response FlowFile Naming Strategy" : "RANDOM",
              "Response Cache Enabled" : "false",
              "Request Date Header Enabled" : "True",
              "Request Failure Penalization Enabled" : "false",
              "Response Body Attribute Size" : "256",
              "Response Generation Required" : "false",
              "Response Header Request Attributes Enabled" : "false",
              "HTTP Method" : "GET",
              "Request Username" : "#{JIRA_USER}",
              "Request Content-Type" : "${mime.type}",
              "Request Digest Authentication Enabled" : "false",
              "Response Cache Size" : "10MB",
              "Response Body Ignored" : "false"
            },
            "propertyDescriptors" : {
              "Request Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Content-Encoding",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Request Multipart Form-Data Filename Enabled" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Multipart Form-Data Filename Enabled",
                "sensitive" : false
              },
              "Request Chunked Transfer-Encoding Enabled" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Chunked Transfer-Encoding Enabled",
                "sensitive" : false
              },
              "HTTP/2 Disabled" : {
                "displayName" : "HTTP/2 Disabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP/2 Disabled",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "Response Cookie Strategy" : {
                "displayName" : "Response Cookie Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cookie Strategy",
                "sensitive" : false
              },
              "Request Password" : {
                "displayName" : "Request Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Password",
                "sensitive" : true
              },
              "Socket Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Read Timeout",
                "sensitive" : false
              },
              "Socket Idle Connections" : {
                "displayName" : "Socket Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Idle Connections",
                "sensitive" : false
              },
              "Request Body Enabled" : {
                "displayName" : "Request Body Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Body Enabled",
                "sensitive" : false
              },
              "HTTP URL" : {
                "displayName" : "HTTP URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP URL",
                "sensitive" : false
              },
              "Request OAuth2 Access Token Provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "Request OAuth2 Access Token Provider",
                "sensitive" : false
              },
              "Socket Idle Timeout" : {
                "displayName" : "Socket Idle Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Idle Timeout",
                "sensitive" : false
              },
              "Response Redirects Enabled" : {
                "displayName" : "Response Redirects Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Redirects Enabled",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Request Header Attributes Pattern" : {
                "displayName" : "Request Header Attributes Pattern",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Header Attributes Pattern",
                "sensitive" : false
              },
              "Response FlowFile Naming Strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response FlowFile Naming Strategy",
                "sensitive" : false
              },
              "Response Cache Enabled" : {
                "displayName" : "Response Cache Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cache Enabled",
                "sensitive" : false
              },
              "Request Date Header Enabled" : {
                "displayName" : "Request Date Header Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Date Header Enabled",
                "sensitive" : false
              },
              "Request Failure Penalization Enabled" : {
                "displayName" : "Request Failure Penalization Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Failure Penalization Enabled",
                "sensitive" : false
              },
              "Response Body Attribute Size" : {
                "displayName" : "Response Body Attribute Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Attribute Size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Response Generation Required" : {
                "displayName" : "Response Generation Required",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Generation Required",
                "sensitive" : false
              },
              "Request User-Agent" : {
                "displayName" : "Request User-Agent",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request User-Agent",
                "sensitive" : false
              },
              "Response Header Request Attributes Enabled" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Header Request Attributes Enabled",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Request Username" : {
                "displayName" : "Request Username",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Username",
                "sensitive" : false
              },
              "Request Content-Type" : {
                "displayName" : "Request Content-Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Content-Type",
                "sensitive" : false
              },
              "Response Body Attribute Name" : {
                "displayName" : "Response Body Attribute Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Attribute Name",
                "sensitive" : false
              },
              "Request Digest Authentication Enabled" : {
                "displayName" : "Request Digest Authentication Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Digest Authentication Enabled",
                "sensitive" : false
              },
              "Request Multipart Form-Data Name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Multipart Form-Data Name",
                "sensitive" : false
              },
              "Response Cache Size" : {
                "displayName" : "Response Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cache Size",
                "sensitive" : false
              },
              "Response Body Ignored" : {
                "displayName" : "Response Body Ignored",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Ignored",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "2 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "scheduledState" : "ENABLED",
          "statelessFlowTimeout" : "1 min"
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "484af40c-613c-32e3-8fdf-b5ae7ab705b6",
              "instanceIdentifier" : "d7c23e3d-eb0b-1cb2-8118-0beec3966259",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "862260f2-bbc6-39b1-b6a4-a43d9fe550f5",
            "instanceIdentifier" : "a94c6d01-018f-1000-ffff-ffff8f31fca9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "hasNextPage" ],
            "source" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "f9f06552-d3fd-3cd9-b06a-387470d4e99c",
              "instanceIdentifier" : "3c4c3101-33bd-185e-8707-f1ae1fa922a7",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "484af40c-613c-32e3-8fdf-b5ae7ab705b6",
              "instanceIdentifier" : "d7c23e3d-eb0b-1cb2-8118-0beec3966259",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "c35f433e-13cd-3902-b088-cf65a4772ee3",
            "instanceIdentifier" : "a94c9879-018f-1000-ffff-ffff974d7f2a",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "41aa0064-728b-361a-a77f-a51d2ed71f57",
              "instanceIdentifier" : "1d6d39cd-bf3f-1d7b-0000-000022904f54",
              "name" : "input-port",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "a770e891-6e46-36b3-8c6c-b14ee5f222f8",
              "instanceIdentifier" : "1d6d39fd-bf3f-1d7b-0000-000065907148",
              "name" : "output-port",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "0e709cc2-c61a-3d51-9879-e943f0024986",
            "instanceIdentifier" : "a94c84c3-018f-1000-0000-0000146e0959",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "hasNextPage", "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "f9f06552-d3fd-3cd9-b06a-387470d4e99c",
              "instanceIdentifier" : "3c4c3101-33bd-185e-8707-f1ae1fa922a7",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "925be101-faac-3ee6-98a5-c47a28cf6f24",
              "instanceIdentifier" : "c0b1362a-a28a-1dc3-8325-8e06ef19f9a9",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "fd87f6c6-a02a-35e2-9cac-8e9181057de4",
            "instanceIdentifier" : "a94c3e90-018f-1000-ffff-ffffe2fa4694",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "484af40c-613c-32e3-8fdf-b5ae7ab705b6",
              "instanceIdentifier" : "d7c23e3d-eb0b-1cb2-8118-0beec3966259",
              "name" : "Get issues by pagination",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "f9f06552-d3fd-3cd9-b06a-387470d4e99c",
              "instanceIdentifier" : "3c4c3101-33bd-185e-8707-f1ae1fa922a7",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "5103aad4-c2d1-329e-b733-d7f830602298",
            "instanceIdentifier" : "a94c5ab9-018f-1000-0000-00001c31fd83",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "01527d6b-c24d-3540-b34b-2455b3fa7db1",
              "instanceIdentifier" : "e0ea378e-1c6c-1c74-81bd-27e9905a6372",
              "name" : "Update startAt attr",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "01527d6b-c24d-3540-b34b-2455b3fa7db1",
              "instanceIdentifier" : "e0ea378e-1c6c-1c74-81bd-27e9905a6372",
              "name" : "Update startAt attr",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "91a2d234-429e-3d28-9c98-9d4617f7c6d8",
            "instanceIdentifier" : "a94c4e31-018f-1000-0000-000026ef1e44",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
              "id" : "925be101-faac-3ee6-98a5-c47a28cf6f24",
              "instanceIdentifier" : "c0b1362a-a28a-1dc3-8325-8e06ef19f9a9",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "executionEngine" : "INHERITED",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "41aa0064-728b-361a-a77f-a51d2ed71f57",
            "instanceIdentifier" : "1d6d39cd-bf3f-1d7b-0000-000022904f54",
            "name" : "input-port",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : -216.0,
              "y" : -32.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "1d6d39c1-bf3f-1d7b-ffff-ffffb31c3c32",
          "labels" : [ ],
          "logFileSuffix" : "",
          "maxConcurrentTasks" : 1,
          "name" : "Get all issue for delete event",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "a770e891-6e46-36b3-8c6c-b14ee5f222f8",
            "instanceIdentifier" : "1d6d39fd-bf3f-1d7b-0000-000065907148",
            "name" : "output-port",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : -216.0,
              "y" : 224.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "Jira-Environment Variables",
          "position" : {
            "x" : 400.0,
            "y" : -1128.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "484af40c-613c-32e3-8fdf-b5ae7ab705b6",
            "instanceIdentifier" : "d7c23e3d-eb0b-1cb2-8118-0beec3966259",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Get issues by pagination",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 458.00000312351955,
              "y" : -73.00000579431116
            },
            "properties" : {
              "Request Content-Encoding" : "DISABLED",
              "Request Multipart Form-Data Filename Enabled" : "true",
              "Request Chunked Transfer-Encoding Enabled" : "false",
              "HTTP/2 Disabled" : "False",
              "Connection Timeout" : "5 secs",
              "Response Cookie Strategy" : "DISABLED",
              "Request Password" : "#{JIRA_TOKEN}",
              "Socket Read Timeout" : "15 secs",
              "Socket Idle Connections" : "5",
              "Request Body Enabled" : "true",
              "HTTP URL" : "#{JIRA_URL}/rest/api/3/search?maxResults=50&startAt=${startAt}&jql=project=#{JIRA_PROJECT_ID}&fields=created,updated",
              "Socket Idle Timeout" : "5 mins",
              "Response Redirects Enabled" : "True",
              "Socket Write Timeout" : "15 secs",
              "Response FlowFile Naming Strategy" : "RANDOM",
              "Response Cache Enabled" : "false",
              "Request Date Header Enabled" : "True",
              "Request Failure Penalization Enabled" : "false",
              "Response Body Attribute Size" : "256",
              "Response Generation Required" : "false",
              "Response Header Request Attributes Enabled" : "false",
              "HTTP Method" : "GET",
              "Request Username" : "#{JIRA_USER}",
              "Request Content-Type" : "${mime.type}",
              "Request Digest Authentication Enabled" : "false",
              "Response Cache Size" : "10MB",
              "Response Body Ignored" : "false"
            },
            "propertyDescriptors" : {
              "Request Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Content-Encoding",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Request Multipart Form-Data Filename Enabled" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Multipart Form-Data Filename Enabled",
                "sensitive" : false
              },
              "Request Chunked Transfer-Encoding Enabled" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Chunked Transfer-Encoding Enabled",
                "sensitive" : false
              },
              "HTTP/2 Disabled" : {
                "displayName" : "HTTP/2 Disabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP/2 Disabled",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "Response Cookie Strategy" : {
                "displayName" : "Response Cookie Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cookie Strategy",
                "sensitive" : false
              },
              "Request Password" : {
                "displayName" : "Request Password",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Password",
                "sensitive" : true
              },
              "Socket Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Read Timeout",
                "sensitive" : false
              },
              "Socket Idle Connections" : {
                "displayName" : "Socket Idle Connections",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Idle Connections",
                "sensitive" : false
              },
              "Request Body Enabled" : {
                "displayName" : "Request Body Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Body Enabled",
                "sensitive" : false
              },
              "HTTP URL" : {
                "displayName" : "HTTP URL",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP URL",
                "sensitive" : false
              },
              "Request OAuth2 Access Token Provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "Request OAuth2 Access Token Provider",
                "sensitive" : false
              },
              "Socket Idle Timeout" : {
                "displayName" : "Socket Idle Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Idle Timeout",
                "sensitive" : false
              },
              "Response Redirects Enabled" : {
                "displayName" : "Response Redirects Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Redirects Enabled",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Request Header Attributes Pattern" : {
                "displayName" : "Request Header Attributes Pattern",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Header Attributes Pattern",
                "sensitive" : false
              },
              "Response FlowFile Naming Strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response FlowFile Naming Strategy",
                "sensitive" : false
              },
              "Response Cache Enabled" : {
                "displayName" : "Response Cache Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cache Enabled",
                "sensitive" : false
              },
              "Request Date Header Enabled" : {
                "displayName" : "Request Date Header Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Date Header Enabled",
                "sensitive" : false
              },
              "Request Failure Penalization Enabled" : {
                "displayName" : "Request Failure Penalization Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Failure Penalization Enabled",
                "sensitive" : false
              },
              "Response Body Attribute Size" : {
                "displayName" : "Response Body Attribute Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Attribute Size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "dynamic" : false,
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Response Generation Required" : {
                "displayName" : "Response Generation Required",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Generation Required",
                "sensitive" : false
              },
              "Request User-Agent" : {
                "displayName" : "Request User-Agent",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request User-Agent",
                "sensitive" : false
              },
              "Response Header Request Attributes Enabled" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Header Request Attributes Enabled",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Request Username" : {
                "displayName" : "Request Username",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Username",
                "sensitive" : false
              },
              "Request Content-Type" : {
                "displayName" : "Request Content-Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Content-Type",
                "sensitive" : false
              },
              "Response Body Attribute Name" : {
                "displayName" : "Response Body Attribute Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Attribute Name",
                "sensitive" : false
              },
              "Request Digest Authentication Enabled" : {
                "displayName" : "Request Digest Authentication Enabled",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Digest Authentication Enabled",
                "sensitive" : false
              },
              "Request Multipart Form-Data Name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Request Multipart Form-Data Name",
                "sensitive" : false
              },
              "Response Cache Size" : {
                "displayName" : "Response Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Cache Size",
                "sensitive" : false
              },
              "Response Body Ignored" : {
                "displayName" : "Response Body Ignored",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Response Body Ignored",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "2 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "f9f06552-d3fd-3cd9-b06a-387470d4e99c",
            "instanceIdentifier" : "3c4c3101-33bd-185e-8707-f1ae1fa922a7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 258.00000312351955,
              "y" : 182.99999420568884
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "hasNextPage" : "${startAt:gt(0)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "hasNextPage" : {
                "displayName" : "hasNextPage",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "hasNextPage",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "925be101-faac-3ee6-98a5-c47a28cf6f24",
            "instanceIdentifier" : "c0b1362a-a28a-1dc3-8325-8e06ef19f9a9",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 738.0000031235195,
              "y" : 182.99999420568884
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "total" : "$.total",
              "Max String Length" : "20 MB",
              "maxResults" : "$.maxResults",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "startAt" : "$.startAt",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "total" : {
                "displayName" : "total",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "total",
                "sensitive" : false
              },
              "Max String Length" : {
                "displayName" : "Max String Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Max String Length",
                "sensitive" : false
              },
              "maxResults" : {
                "displayName" : "maxResults",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "maxResults",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "startAt" : {
                "displayName" : "startAt",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "startAt",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "annotationData" : "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>9ebd5952-6418-4d22-9a6c-7506de93b648</id>\n            <value>${startAt:plus(${maxResults})}</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):gt(${startAt})}</expression>\n            <id>40d22898-c2a6-4fed-97a1-ca22adaea154</id>\n        </conditions>\n        <id>422c5e3f-ca50-425d-8759-08f0fb2e0c1c</id>\n        <name>get-next-page</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>startAt</attribute>\n            <id>510500d2-4da1-4407-8815-84d44947fe4d</id>\n            <value>-1</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${total:minus( ${maxResults} ):lt(${startAt})}</expression>\n            <id>034ec39c-16ed-40b3-b209-8d5b3a1becd4</id>\n        </conditions>\n        <id>47a66be2-d1d8-4b10-8702-617fba0c2f65</id>\n        <name>end-page</name>\n    </rules>\n</criteria>",
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M4"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "9ce2ff4e-8462-3f10-8b22-4989c2a94797",
            "identifier" : "01527d6b-c24d-3540-b34b-2455b3fa7db1",
            "instanceIdentifier" : "e0ea378e-1c6c-1c74-81bd-27e9905a6372",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Update startAt attr",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 490.00000312351955,
              "y" : 406.99999420568884
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "startAt" : "-1"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "startAt" : {
                "displayName" : "startAt",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "startAt",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "scheduledState" : "ENABLED",
          "statelessFlowTimeout" : "1 min"
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "7ddf76b6-cbb1-32b5-8e27-3797f1857709",
          "instanceIdentifier" : "c36fe656-018f-1000-ffff-ffffcf7c7b05",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile JIRA",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -776.0,
            "y" : -1544.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text",
            "startAt" : "0"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            },
            "startAt" : {
              "displayName" : "startAt",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "startAt",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "#{JIRA_SCHEDULER_CRON}",
          "schedulingStrategy" : "CRON_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-groovyx-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "86d61ee8-0f8b-3859-b11c-49efb7ca129f",
          "instanceIdentifier" : "5df2383d-3e6e-1750-9f01-4433727dc807",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Init Jira data",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 456.0,
            "y" : -1552.0
          },
          "properties" : {
            "groovyx-failure-strategy" : "rollback",
            "groovyx-script-file" : "/opt/nifi/nifi-current/scripts/init-data.groovy"
          },
          "propertyDescriptors" : {
            "groovyx-script-body" : {
              "displayName" : "Script Body",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-body",
              "sensitive" : false
            },
            "groovyx-failure-strategy" : {
              "displayName" : "Failure strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-failure-strategy",
              "sensitive" : false
            },
            "groovyx-additional-classpath" : {
              "displayName" : "Additional classpath",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-additional-classpath",
              "sensitive" : false
            },
            "groovyx-script-file" : {
              "displayName" : "Script File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-file",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.groovyx.ExecuteGroovyScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "88587f97-2d5e-3ae6-bf7c-c502508a6f16",
          "instanceIdentifier" : "2cfe30cd-7ded-15f0-aacd-453335cc8f09",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Create File",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -184.0,
            "y" : -632.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "${RESOURCE_STORAGE_FOLDER}",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "bc2a9bd3-e25a-3da5-b861-6bbf5b04c430",
          "instanceIdentifier" : "bf4d34a4-ae3c-1fce-ba88-ce52e3876e63",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -832.0,
            "y" : -576.0
          },
          "properties" : {
            "log-message" : "Put File: succeed",
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-groovyx-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "47f16fbe-185d-3862-9824-088af4b277e4",
          "instanceIdentifier" : "9b5b99b0-018f-1000-0000-00007f8cae8d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "find-deleted-items",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 416.0,
            "y" : -872.0
          },
          "properties" : {
            "groovyx-failure-strategy" : "rollback",
            "groovyx-script-file" : "/opt/nifi/nifi-current/scripts/find-deleted-items.groovy"
          },
          "propertyDescriptors" : {
            "groovyx-script-body" : {
              "displayName" : "Script Body",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-body",
              "sensitive" : false
            },
            "groovyx-failure-strategy" : {
              "displayName" : "Failure strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-failure-strategy",
              "sensitive" : false
            },
            "groovyx-additional-classpath" : {
              "displayName" : "Additional classpath",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-additional-classpath",
              "sensitive" : false
            },
            "groovyx-script-file" : {
              "displayName" : "Script File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-file",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.groovyx.ExecuteGroovyScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-groovyx-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "c8580ef9-fd08-3bc5-92c3-2373eafebc5e",
          "instanceIdentifier" : "ad4132a6-8508-1f3a-aea2-8e4d7a77bd4f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Fail-Fast validator",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -184.0,
            "y" : -1544.0
          },
          "properties" : {
            "groovyx-failure-strategy" : "rollback",
            "groovyx-script-file" : "/opt/nifi/nifi-current/scripts/validator.groovy"
          },
          "propertyDescriptors" : {
            "groovyx-script-body" : {
              "displayName" : "Script Body",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-body",
              "sensitive" : false
            },
            "groovyx-failure-strategy" : {
              "displayName" : "Failure strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-failure-strategy",
              "sensitive" : false
            },
            "groovyx-additional-classpath" : {
              "displayName" : "Additional classpath",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-additional-classpath",
              "sensitive" : false
            },
            "groovyx-script-file" : {
              "displayName" : "Script File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-file",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.groovyx.ExecuteGroovyScript",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "1e71fa92-d334-345d-a1fa-0b5533489d34",
          "instanceIdentifier" : "7782397a-421e-14dc-9a35-07f5f94239a8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 80.0,
            "y" : -1352.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "InitData" : "${InitData:equals(true)}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "InitData" : {
              "displayName" : "InitData",
              "dynamic" : true,
              "identifiesControllerService" : false,
              "name" : "InitData",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "INFO",
          "bundle" : {
            "artifact" : "nifi-groovyx-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "dda99525-1b01-3fd2-b210-2e2a6ae8650b",
          "identifier" : "de51db1d-18ed-33a2-9449-74c19ffabad4",
          "instanceIdentifier" : "14d13c2d-d24e-1a54-bbbc-8370fa92afbb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "split-items",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -184.0,
            "y" : -832.0
          },
          "properties" : {
            "groovyx-failure-strategy" : "rollback",
            "groovyx-script-file" : "/opt/nifi/nifi-current/scripts/split-items.groovy"
          },
          "propertyDescriptors" : {
            "groovyx-script-body" : {
              "displayName" : "Script Body",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-body",
              "sensitive" : false
            },
            "groovyx-failure-strategy" : {
              "displayName" : "Failure strategy",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-failure-strategy",
              "sensitive" : false
            },
            "groovyx-additional-classpath" : {
              "displayName" : "Additional classpath",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-additional-classpath",
              "sensitive" : false
            },
            "groovyx-script-file" : {
              "displayName" : "Script File",
              "dynamic" : false,
              "identifiesControllerService" : false,
              "name" : "groovyx-script-file",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.groovyx.ExecuteGroovyScript",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "Jira-Environment Variables" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "Jira-Environment Variables",
          "parameterGroupName" : "Jira-Environment Variables",
          "parameterProvider" : "8504836a-018f-1000-ffff-ffff90f3280f",
          "parameters" : [ {
            "name" : "JIRA_USER",
            "provided" : true,
            "sensitive" : false,
            "value" : "todo"
          }, {
            "name" : "JIRA_SCHEDULER_CRON",
            "provided" : true,
            "sensitive" : false,
            "value" : "0 0 8 * * ?"
          }, {
            "name" : "RESOURCE_STORAGE_FOLDER",
            "provided" : true,
            "sensitive" : false,
            "value" : "/temp_source_storage"
          }, {
            "name" : "ACTIVEMQ_PASSWORD",
            "provided" : true,
            "sensitive" : true
          }, {
            "name" : "JIRA_TOKEN",
            "provided" : true,
            "sensitive" : true
          }, {
            "name" : "JIRA_URL",
            "provided" : true,
            "sensitive" : false,
            "value" : "https://exadel.atlassian.net"
          }, {
            "name" : "ACTIVEMQ_USERNAME",
            "provided" : true,
            "sensitive" : false,
            "value" : "artemis_user"
          }, {
            "name" : "ACTIVEMQ_QUEUE_NAME",
            "provided" : true,
            "sensitive" : false,
            "value" : "SDLC::sdlc-queue"
          }, {
            "name" : "JIRA_PROJECT_ID",
            "provided" : true,
            "sensitive" : false,
            "value" : "first-jira-project"
          }, {
            "name" : "ACTIVEMQ_URI",
            "provided" : true,
            "sensitive" : false,
            "value" : "tcp://sdlc-activemq:61616"
          }, {
            "name" : "NIFI_REDIS_HOST",
            "provided" : true,
            "sensitive" : false,
            "value" : "nifi-redis:6379"
          }, {
            "name" : "NIFI_REDIS_PASSWORD",
            "provided" : true,
            "sensitive" : true
          } ],
          "synchronized" : true
        }
      },
      "parameterProviders" : {
        "8504836a-018f-1000-ffff-ffff90f3280f" : {
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.0.0-M4"
          },
          "identifier" : "8504836a-018f-1000-ffff-ffff90f3280f",
          "name" : "Jira-EnvironmentVariableParameterProvider",
          "type" : "org.apache.nifi.parameter.EnvironmentVariableParameterProvider"
        }
      }
    }
  }
}